@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
}

.header {
  border-bottom: 1px solid #3b3a3aa8;
}
.header-image {
  max-width: 150px;
  /* padding: 96px 48px 48px 96px; */
  /* width: 109px;
  height: 36px; */
}
.bg-img {
  background-image: url("/assets/doodle\ items.png");
  background-repeat: repeat;
  background-size: 33%;
}
.nav-link {
  list-style-type: none;
}

.nav-link a {
  text-decoration: none;
  padding: 5px;
  color: white;
}

.my-recent-work {
  background-image: url("/assets/doodleitems.png");
  background-repeat: repeat;
  padding: 5px;
  /* width:33%; */
}

.my-recent-desing {
  background-color: #423d3d76;
  width: 368px;
  height: 280px;
  padding: 45px;
  margin: 10px;
  display: flex;
  justify-content: center;
}

.hero-text {
  font-size: 96px;
  font-family: poppins;
  font-family: "Poppins", serif;
}

.hero-text2 {
  font-size: 96px;
  font-family: poppins;
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}

/* About Me section */

.about-me {
  font-size: 64px;
  font-family: poppins;
}

.about-me-para {
  font-family: poppins;
  font-size: 18px;
}

.about-me-img {
  background-image: url("/assets/doodleitems.png");
  width: 100%;
  height: auto;
}

.social-icon {
  display: flex;
  justify-content: center;
}

.social-icon a {
  background-color: #00000076;
  padding: 10px;
  margin: 10px;
  border-radius: 100px;
  text-decoration: none;
}
